// Google Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// Variables Global
$color-bg-light: #f5f6fa;

// Font Variables
$font-size-small: 12px;

// Spacing
$page-padding-x: 24px;

// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "../../../node_modules/bootstrap-vue/src/index.scss";

// Reset Base
html,
body {
    height: 100%;
    font-size: 15px;
}

body {
    background-color: $color-bg-light;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #app {
        height: 100%;
    }
}

// Page
.page {
    // Wrapper
    &-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    // Header
    &-header {
        padding: $page-padding-x $page-padding-x;
        min-height: 26%;
        background-color: #fff;

        // brand
        .brand img {
            width: auto;
            height: 58px;
        }
    }

    // Content
    &-content {
        flex: 1;
        padding: ($page-padding-x * 1.2) $page-padding-x;
    }

    // Footer
    &-footer {
        font-size: $font-size-small;
        text-align: center;
        padding-bottom: ($page-padding-x / 2);
    }
}

// Atoms

// Header Page / Login
.header-title {
    font-size: 30px;
    font-weight: 700;
}

// Componentes

// Forms
.form-group {
    legend {
        font-weight: 500;
    }
}
.form-control {
    border-radius: 3px;

    // Large
    &-lg {
        height: 48px;
        font-size: 15px;
        font-weight: 500;
    }
}

// Buttons
.btn {
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 3px;

    // Large
    &-lg {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 15px;
    }
}


