// sidebar
$l-sidebar-width: 280px;
$l-sidebar-background: $color-primary;

.sidebar {

    // block: menu
    &__menu {
        top: 0;
        left: -($l-sidebar-width);
        width: $l-sidebar-width;
        height: 100%;
        z-index: 999;
        position: fixed;
        transition: left 0.2s ease;
        background-color: $l-sidebar-background;
        display: flex;
        flex-direction: column;
    }

    // bloack: backderop
    &__backdrop {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 996;
        background-color: rgba(black, 0.3);
    }

    // block: header
    &__header {
        padding: 24px 21px;
        min-height: 177px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(black, 0.3);

        .logo {
            fill: seashell;
        }
    }

    // block: footer
    &__footer {
        padding: 21px;
        margin-top: auto;

        a {
            color: rgba(white, 0.6);
            font-weight: 600;

            &:hover {
                color: white;
            }
        }
    }

    // @media(large)
    @include large {
        // menu
        &__menu {
            left: 0;
        }

        // header
        &__header {
            min-height: 110px;
        }
    }
}

// variation: open
.sidebar--open {
    .sidebar__menu {
        left: 0;
    }
}
